<head>
<style>
    img {
        max-width: 500px;
        max-height: 300px;
    }

    h1 {
        color: darkgreen;
    }
    
    body {
        background-image: url('https://w.forfun.com/fetch/8c/8c0dd10067ba1cd09c1df006596fc3ef.jpeg');
    }

        .product {
        display: flex;
        border: 2px solid;
    }

</style>
</head>

<h1 style="font-family: Arial">ДаМаркет</h1>

<a href="/">Главная</a>
<a href="/sepplies">Товары</a>
<a href="/discounts">Акции</a>

<p></p>

<div class="product">
    <img src="https://sun1-57.userapi.com/s/v1/if2/gz70-h5YDNs90vYCZiNK9PaXJ4JCyHhqgIVdH7pk0SfgXU5HKWOSTsplCrLd-TzgLmlw4XBL7wYCKUQ8Eg9z6H_n.jpg?size=400x400&quality=95&crop=0,0,1384,1384&blur=20,10&ava=1">
    <div>
        <h2>Я заблюренный</h2>
        <p>Ну тип крутой мужик на балу ЦИТа</p>
        <button>Купить</button>
    </div>
</div>    